.drag-item {
    border: black solid 1px;
    margin: 1px;
    cursor: move;
}

.drag-list {
    list-style: none;
    padding: 0;
  }

#finaliza {
    display: none;
}

.delete {
display: inline;
cursor: pointer;
}

.undone {
    text-decoration: none;
    color: black;
}


.done {
    text-decoration: line-through;
    color: grey;
}

#pg {
    width: 100%;
    background-color: grey;   
    display: none;
}

#pgbar {
    width: 0%;
    height: 30px;
    background-color: green;
}

.dragging {
    background-color: grey;
    opacity: 1;
}

#mostraLista {
    list-style-type: none;
}

#pgtxt {
    display: none;
}