#finaliza {
    display: none;
}

.delete {
display: inline;
cursor: pointer;
}

.undone {
    text-decoration: none;
    color: black;
}


.done {
    text-decoration: line-through;
    color: grey;
}