#finaliza {
    display: none;
}

.delete {
display: inline;
cursor: pointer;
}

.undone {
    text-decoration: none;
    color: black;
}


.done {
    text-decoration: line-through;
    color: grey;
}

#pg {
    width: 100%;
    background-color: grey;   
}

#pgbar {
    width: 0%;
    height: 30px;
    background-color: green;
}